@font-face {
  font-family: 'Jetbrains Italic';
  src: url('/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Jetbrains';
  src: url('/fonts/JetBrainsMono-VariableFont_wght.ttf');
}
