@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jetbrains';
}

body {
  background: linear-gradient(
    90deg,
    rgba(20, 19, 27, 1) 0%,
    rgba(8, 7, 11, 1) 100%
  );
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}
