@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jetbrains';
}

body {
  background-color: $very-dark;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}
