@use '../abstracts/variables' as *;

.header {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  margin-bottom: 30px;

  &__title {
    color: $gray;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media (max-width: 520px) {
  .header {
    padding-top: 64px;
    margin-bottom: 16px;

    &__title {
      font-size: 1rem;
    }
  }
}
